:root{
    --main-family:'Lora', serif;
    --header-family:'Mirza', serif;
}
body{
    background: #ffffff;
    overflow-x: hidden;
}
/* common heading part start */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}
p{
    margin-bottom: 0;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    display: inline-block;
}
a{
    display: inline-block;
    text-decoration: none;
}
img{
    vertical-align: middle;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.w-100{
    width: 100%;
}
 :not(.btn-check) + .btn:active {
	color: var(--bs-btn-active-color);
	background-color: var(--bs-btn-active-bg);
	border-color:transparent;
}
.btn-close:focus {
	outline: 0;
	box-shadow: none !important;
	opacity: var(--bs-btn-close-focus-opacity);
}
/* common heading part End */
/* navbar part start */
/* offcanvas */
.offcanvas-header a{
    font-family: var(--header-family);
}
.offcanvas-fix{
    width: 100% !important;
}
.offcanvas-fix{
    height: 500px !important;
}
.offcanvas-body .main-navbar ul li{
    display: inline;
}
.offcanvas-body .main-navbar ul li a{
    display: inline;
}
/* offcanvas end */
.main-navbar{
    background: #ffffff;
}
.main-navbar .reddy{
    font-family: var(--header-family);
}
.navbar-toggler:focus{
    box-shadow: none;
}
.main-navbar .nav-link{
    font-family: var(--main-family);
    border-bottom: 1px solid transparent;
}
.main-navbar .nav-link:hover{
    border-bottom: 1px solid #ffffff;
} 
.main-navbar .navbar-brand{
    font-family: var(--header-family);
}
.common-heading h2{
    font-size: 55px;
    font-family: var(--header-family);
}
/* navbar part End */
/* banner part start */
#banner{
    background:url(../image/banner.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 750px;
}
.banner-text{
    max-width: 450px;
  }
.banner-text h1{
    font-size: 65px;
    font-family: var(--header-family);
    letter-spacing: -1%;
}
.banner-text p{
    width: 80%;
    font-family: var(--main-family);
}
 .common-btn a{
    width: 130px;
    height: 40px;
    background: #ffffff;
    font-family: var(--main-family);
    position: relative;
    z-index: 1;
}
.common-btn a::after{ 
    content: "";
    width: 100%;
    height: 100%;
    background-image:linear-gradient( rgba(122, 121, 121, 0.61),rgb(129, 127, 127));
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
/* banner part End */
/* projuct part start */
#product{
    background: #ffffff;
}
.product-1 h2{
    font-family: var(--header-family);
}
.product-1 p{
    font-family: var(--main-family);
}
.product-2 ul li span{
    font-family: var(--main-family);
}
.product-2 ul li p{
    font-family: var(--main-family);
}
/* projuct part End */
/* video part start */
#video{
    background: black;
}
.video-header{
    max-width: 600px;
}
.video-header h2{
    font-family: var(--header-family);
}
.video-header p{
    font-family: var(--main-family);
}
/* video part End */
/* customer part start */
#customer{
    background: #ffffff;
}
.customer-review{
    position:relative;
}
.customer-header h2{
    font-family: var(--header-family);
}
.customer-review .inner-part p{
    font-family: var(--main-family);
}
.customer-review .inner-part{
    margin: 0 15px ;
}
.slick-dots{
  position: absolute;
  bottom: -55px;
  left: 50%;
  transform: translateX(-60%);
}
.slick-dots li button{
   display: none;
}
.slick-dots li{
   width: 10px;
   height: 10px;
   background: rgb(131, 128, 128);
   border-radius: 50px;
   margin-left: 15px;
}
.slick-dots .slick-active{
    background: rgba(38, 39, 38, 0.945);
}
/* customer part End */
/* features part start */
#features{
    background: #ffffff;
    margin: 80px 0 10px;
}
.features-heading h2{
  font-family: var(--header-family);
}
.features-item img{
    transform: scale(0.9);
    transition: 0.3s;
}
.features-item:hover img{
    transform: scale(1.0);
    transition: 0.3s;
}
.feature-content .card{
    background: #ffffff;
}
.feature-content .card .overly{
    width: 10%;
    height: 10%;
    background: rgba(20, 20, 20, 0.856);
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: ease-in-out 0.2s;
    border-radius: 4px;
} 
.feature-content .card .overly a{
    font-family: var(--main-family);
}
.feature-content .card:hover .overly{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    z-index: 1000;
    transition: ease-in-out 0.2s;
}
.feature-content .card-body h3{
    font-family: var(--header-family);
}
.feature-content .card-body p{
    font-family: var(--main-family);
}
/* features part End */
/* faq part start */
#faq{
    background: #ffffff;
}
.faq-heading h2{
    font-family: var(--header-family);
}
.faq-content{
    max-width: 620px;
}
.faq-content .our-accordion{
    padding: 10px 0;
}
.acrdn-btn:not(.collapsed) {
    background: rgb(0, 0, 0);
    box-shadow: none !important;
}
.acrdn-btn{
    background: rgb(0, 0, 0);
}
.acrdn-btn:focus{
    box-shadow: none !important;
}
.our-accordion .acrdn-btn{
    display: flex;
    align-items: center;
    font-family: var(--header-family);
}
.our-accordion .acrdn-body{
  font-family: var(--main-family);
  padding-bottom: 0;
}
.acrdn-btn::after {
  background:url(../image/plus.png);
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 0;
}
.acrdn-btn:not(.collapsed)::after {
    background:url(../image/mainas.png);
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
/* faq part End */
/* order part start */
#order{
    background: black;
}
.order-text{
    max-width: 425px;
}
.order-text p{
    font-family: var(--main-family);
}
.order-text span{
    font-family: var(--main-family);
}
.color-choose .red{
    width: 12px;
    height: 12px;
}
.color-choose .green{
    width: 12px;
    height: 12px;
}
.color-choose .white{
    width: 12px;
    height: 12px;
}
/* order part End */
/* contact part start */
#contact{
    background: #ffffff;
}
.custome-form:focus{
    box-shadow: none;
}
.form-part1 h3{
    font-family: var(--header-family);
}
.form-part2 h3{
    font-family: var(--header-family);
}
.social-info ul li{
    width: 40px;
    height: 40px;
    box-shadow: 0 0 5px black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-info ul li:hover{
    background:black;
}
.social-info ul li:hover a{
    background:black;
    color: #ffffff !important;
}
.social-info ul{
   width: 50%;
}
#contact .copy-right{
    background-color: black;
}

/* contact part End */
@media (min-width:1400px) {
    .banner-text{
        max-width: 450px;
      }
      .banner-text p{
        width: 80%;
      }
}

@media (min-width:1200px) and (max-width:1399.99px) {
    #banner{
        height: 650px; 
    }
    .banner-text{
        max-width: 450px;
      }
      .banner-text p{
        width: 80%;
      }
}
@media (min-width:992px) and (max-width:1199.99px) {
    #banner{
        height: 550px; 
    }
    .banner-text{
      max-width: 450px;
    }
    .banner-text p{
      width: 80%;
    }
    .social-info ul {
        width: 65%;
    }
}
@media (min-width:768px) and (max-width:991.99px) {
    .common-heading h2 {
        font-size: 45px;
    }
    #banner{
        height: 480px; 
    }
    .banner-text h1 {
        font-size: 55px;
    }
    .social-info ul {
        width: 80%;
    }
}
@media (min-width:576px) and (max-width:767px) {
    .common-heading h2 {
        font-size: 45px;
    }
    #banner{
        height: 370px;
    } 
    .banner-text h1 {
        font-size: 50px;
        width: 450px;
    }
    .social-info ul li {
        width: 35px;
        height: 35px;
    } 
    .social-info ul {
        width: 100%;
    }
}
@media (max-width:575px) {
    .common-heading h2 {
        font-size: 35px;
        font-family: var(--header-family);
    }
    .banner-text{
        max-width: 330px;
    }
    #banner{
        height: 300px; 
    }
    .banner-text h1 {
        font-size: 40px;
    }
    .customer-review .inner-part {
        margin: 0 15px;
        text-align: justify;
    }
    .social-info ul{
        width: 90% !important;
    }
}


